@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 6rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  border-radius: 14px;
}
*::-webkit-scrollbar-thumb:horizontal{
  background-color: #e1e1e1;
  border-radius: 14px;

}
*::-webkit-scrollbar:horizontal{
  height: 0.4rem;
  padding: 20px;
  margin: 20px;
}
